div{

    background-color: aqua;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border: 50px;
    background-position: 30px;
    text-align: justify;
    border-radius: 5px;
    
}
h3{
    color: rgb(120, 68, 204);
}

